body{
    margin: 0;
    padding: 0;
    background:white;
}
.container{
    max-width: 960px;
    width: 100%;
    margin: auto;
}
.content{
    max-width: 1286px;
    background-color: white;
    margin-top: 70px;
    height:auto;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.col-25{
    float: left;
    width: 25%;
}
.col-75{
    margin-top: 28px;
    float: left;
    width: 75%;
}

/*---HEADER---*/
header{
    top: 0;
    background-color: white;
    position: fixed;
    max-height: 90px;
    width: 100%;
}
/*---NAVIGATION---*/
ul{
    margin-top: 0;
    width: 100%;
    list-style-type: none;
    position: fixed;
    background-color: black;
}
.ul-li{
    float: left;
    position: relative;
}
.ul-li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}
.ul-li a:hover{
    background-color: rgb(255, 148, 148);
    color: black;
}
.active{
    background-color: rgb(255, 148, 148);
}

/*---CONTENT DISHBOARD---*/
.dish-judul{
    background-color: rgb(80, 80, 179);
    border-radius: 5px 5px 0 0;
    padding: 10px 15px;
    color: white;
}
.dish-down{
    padding: 10px 20px;
    border: 2px solid rgb(80, 80, 179);
    border-radius: 0 0 5px 5px;
}
.dish-down p{
    padding: 10px 10px;
    border: 1px solid rgb(140, 140, 255);
    border-radius: 5px;
    background-color: rgb(151, 151, 255);
}

/*---CONTENT QUISONER INPUT---*/
.input-judul{
    margin-left: 19px;
    color: rgb(145, 145, 255);
    text-decoration: none;
}

.input-aksi{
    background-color: rgb(218, 218, 218);
    border-radius: 5px 5px 0 0;
    padding: 7px 12px;
    color: black;
}
.input-btnaksi{
    height: auto;
    background-color:white;
    border: 2px solid rgb(218, 218, 218);
    border-radius: 0 0 5px 5px;
}
.input-btn{
    border: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px 13px;
    margin: 20px 20px;
    cursor: pointer;
    color: white;
    background-color: rgb(80, 80, 179);
}
.input-soal{
    margin-top: 20px;
    background-color: rgb(80, 80, 179);
    border-radius: 5px 5px 0 0;
    padding: 7px 12px;  
    color: white;
}
.input-listsoal{
    height: 200px;
    background-color:white;
    border: 2px solid rgb(80, 80, 179);
    border-radius: 0 0 5px 5px;
}
#table-soal{
    border-collapse: collapse;
    width: 100%;
}
#no-soal{
    text-align: center;
    width: 20px;
}
/*---INPUT TAMBAH PERTANYAAN---*/
.tambah-aksi{
    background-color: rgb(218, 218, 218);
    border-radius: 5px 5px 0 0;
    padding: 7px 12px;  
    color: black;
}
.tambah-btnaksi{
    height: auto;
    background-color:white;
    border: 2px solid rgb(218, 218, 218);
    border-radius: 0 0 5px 5px;
}
.tambah-btnaksi p{
    margin:20px;
    padding: 8px 8px;
    color: white;
    background-color: rgb(80, 80, 179);
    width: 290px;
    text-align: center;
    border-radius: 5px;
}
.tambahquisoner-judul{
    margin-top: 20px;
    background-color: rgb(218, 218, 218);
    border-radius: 5px 5px 0 0;
    padding: 7px 12px;  
    color: black;
}
.tambah-isipertanyaan{
    height: 500px;
    background-color:white;
    border: 2px solid rgb(218, 218, 218);
    border-radius: 0 0 5px 5px;
}
#label-closebtn{
    margin: 40px;
    font-size: 15px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px 5px;
    padding: 10px 10px;
    cursor: pointer;
}
#tambahclose-btn{
    display: none;
}
#tambahsubmit-btn{
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    background-color: rgb(80, 80, 179);
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    cursor: pointer;
}
#upPertanyaan{
    margin-left: 20px;
    margin-top: 20px;
}
#isipertanyaan{
    max-width: 95%;
    max-height: 200px;
    margin-left: 20px;
    width: 100%;
    border-radius: 5px;
}

/*---CONTENT DATAUSER---*/
.data-judul{
    background-color: rgb(80, 80, 179);
    border-radius: 5px 5px 0 0;
    padding: 7px 12px;
    color: white;
}
.data-judul1{
    margin-top: 10px;
    background-color: rgb(80, 80, 179);
    border-radius: 5px 5px 0 0;
    padding: 7px 12px;  
    color: white;
}
.data-down{
    padding: 10px 10px;
    border: 2px solid rgb(80, 80, 179);
    border-radius: 0 0 5px 5px;
}
#table{
    border-collapse: collapse;
    width: 100%;
}
#table td, #table th{
    border-top: 1px solid rgb(140, 140, 255);
}
#no{
    width: 40px;
}
#aksi{
    width: 160px;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn{
    font-size: 16px;
    border:none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown:hover .dropbtn{
    background-color: red;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content:hover{
    background-color: #ddd;
}
.dropdown:hover .dropdown-content{
    display: block;
}