body{
    margin: 0;
    padding: 0;
    background:white;
}
.container{
    max-width: 960px;
    width: 100%;
    margin: auto;
}
.content{
    max-width: 1286px;
    background-color: white;
    margin-top: 60px;
    height: auto;
}
.row::after{
	content: "";
	clear: both;
	display: table;
}
.col-3{
	float: left;
	width: 25%;
}
.col-6{
	float: left;
	width: 50%;
}

/*-------------------------NAVIGATION---------------------------*/
ul{
	margin: 0;
	top: 0;
    width: 100%;
    list-style-type: none;
    position: fixed;
    background-color: black;
}
.ul-li{
    float: left;
    position: relative;
}
.ul-li a, .dropbtn{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}
.ul-li a:hover, .dropdown:hover .dropbtn{
    background-color: rgb(255, 148, 148);
    color: black;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: white;
    padding: 12px 16px;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: rgb(255, 148, 148);
}
.dropdown:hover .dropdown-content{
    display: block;
}
.active{
    background-color: rgb(255, 148, 148);
}
/*--------------------------------------------------------------*/

/*------------------------CONTENT DATA USER---------------------*/
table{
    border-collapse: collapse;
	width: 100%;
}
input[type="text"], input[type="password"]{
	width: 80%;
    height: 25px;
	border: 1px solid darkgray;
	border-radius: 4px;
}
		/*---CONTENT DATA USER (PROFIL)---*/
#tableprofil td{
	height: 35px;
    border-top: 1px solid rgb(200, 200, 200);
}
#profil{
	width: 32%;
}
#profil-content{
	width: 58%;
	background-color: white;
}
.profil-judul{
	background-image: linear-gradient(to top, rgb(200, 200, 200), white);
	border: 2px solid rgb(200, 200, 200);
	border-radius: 8px 8px 0 0;
	padding: 5px 10px;
    color: black;
}
.profil-down{
    padding: 10px 20px;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 0 0 8px 8px;
}
#label-submit{
	padding: 10px;
	border-radius: 5px;
	color: white;
	border: 1px solid black;
	background-image: linear-gradient(to top, rgb(50, 50, 130), rgb(50, 50, 200));
    cursor: pointer;
}
#submit-profil{
	display: none;
}
#label-reset{
	margin-left: -95px;
	padding: 10px;
	border-radius: 5px;
	color: white;
	border: 1px solid black;
	background-image: linear-gradient(to top, rgb(190, 50, 50),rgb(240, 50, 50));
	cursor: pointer;
}
#reset-profil{
	display: none;
}
		/*------------------------*/
		/*---CONTENT DATA USER (EDIT PROFIL)---*/
#tableedit td{
	height: 35px;
}
#editprofil-content{
	vertical-align: top;
	width: 40%;
	background-color: white;
}
.editprofil-judul{
	background-image: linear-gradient(to top, rgb(200, 200, 200), white);
	border: 2px solid rgb(200, 200, 200);
	border-radius: 8px 8px 0 0;
	padding: 5px 10px;
    color: black;
}
.editprofil-down{
    padding: 10px 20px;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 0 0 8px 8px;
}
#label-editsubmit{
	padding: 10px;
	border-radius: 5px;
	color: white;
	border: 1px solid black;
	background-image: linear-gradient(to top, rgb(50, 50, 130), rgb(50, 50, 200));
    cursor: pointer;
}
#submit-editprofil{
	display: none;
}
#label-editreset{
	margin-left: -65px;
	padding: 10px;
	border-radius: 5px;
	color: white;
	border: 1px solid black;
	background-image: linear-gradient(to top, rgb(190, 50, 50),rgb(240, 50, 50));
	cursor: pointer;
}
#reset-editprofil{
	display: none;
}
		/*------------------------*/
/*--------------------------------------------------------------*/

/*-----------------CONTENT PENGAJUAN APLIKASI-------------------*/
.peng-kuisoner{	
	background-image: linear-gradient(to top, rgb(200, 200, 200), white);
	border: 1px solid rgb(200, 200, 200);
	border-radius: 5px 5px 0 0;
	padding: 5px 10px;
    color: black;
}
.kuisoner-content{
	height: auto;
	padding: 10px 10px;
	border: 1px solid rgb(200, 200, 200);
	border-radius: 0 0 5px 5px;
}
#table-kuis th, #table-kuis td{
	height: auto;
	border: 0px solid grey;
}
#no-kuis{
	text-align: center;
	width: 3%;
}
#content-jawab{
	max-width: 95%;
    max-height: 200px;
    width: 100%;
    border-radius: 5px;
}
#next-kuis{
	margin-top: 20px;
	padding: 10px;
	border-radius: 5px;
	color: white;
	border: 1px solid black;
	background-image: linear-gradient(to top, rgb(190, 50, 50),rgb(240, 50, 50));
	cursor: pointer;
}
/*--------------------------------------------------------------*/

/*-----------------CONTENT PENGAJUAN PROPOSAL-------------------*/
.peng-proposal{	
	background-image: linear-gradient(to top, rgb(200, 200, 200), white);
	border: 1px solid rgb(200, 200, 200);
	border-radius: 5px 5px 0 0;
	padding: 5px 10px;
    color: black;
}
.proposal-content{
	height: auto;
	text-align: center;
	padding: 10px 10px;
	border: 1px solid rgb(200, 200, 200);
	border-radius: 0 0 5px 5px;
}
#formDropFile{
	margin-left: 25%;
	margin-right: 25%;
	background-color: wheat;
	text-align: center;
	border-radius: 5px;
	transition: .5s;
}
#fileInput{
	display: none;
}
#label_fileInput{
	border-radius: 5px 5px 0 0;
	background-color: rgb(147, 147, 255);
	display: block;
	padding: 16px;
	position: relative;
	cursor: pointer;
}
#label_fileInput:after,
#label_fileInput:before{
	position: absolute;
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: blue;
	z-index: -1;
	border-radius: 5px 5px 0 0;
}
#formDropFile .uploadBtn{
	border: 0;
	outline: 0;
	width: 100%;
	padding: 8px;
	background-color: blue;
	border-radius: 0 0 5px 5px;
	color: white;
	cursor: pointer;
}
#formDropFile.fileHover{
	box-shadow: 0 0 16px blue;
}
#submit-proposal{
	margin-top: 20px;
	padding: 10px;
	border-radius: 5px;
	color: white;
	border: 1px solid black;
	background-image: linear-gradient(to top, rgb(50, 50, 130), rgb(50, 50, 200));
	cursor: pointer;
}
/*--------------------------------------------------------------*/